.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 38px !important;
    position: absolute !important;
    top: 1px !important;
    right: 1px !important;
    width: 20px !important;
}

.select2-container--default .select2-selection--single {
    background-color: #fff !important;
    border: 1px solid #aaa !important;
    border-radius: 4px !important;
    height: 39px !important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 35px !important;
    padding: 0 1.875rem 0 0.875rem !important;
    color: #697a8d !important;
    border: 0px;
    border: 1px solid #d9dee3 !important;
    border-radius: 0.375rem !important;
    font-size: 0.9375rem !important;
    font-weight: 400 !important;

}

.swal2-container.swal2-backdrop-show,
.swal2-container.swal2-noanimation {
    z-index: 9999 !important;
}

/* .select2-container--default .select2-selection--multiple{
    display: block !important;
    width: 100% !important;
    padding: 1.4375rem 33.875rem 0.4375rem 7.875rem !important;
} */

.select2-container {
    display: block !important;
    width: 100% !important;
    padding: -20.4375rem !important;
    border: 1px solid #d9dee3 !important;
    border-radius: 0.375rem !important;
    margin-top: 2px !important;
}

.shop-item-image {
    height: 220px;
    line-height: 220px;
    width: 650px;
    max-width: 100%;
    align-items: center;
    box-shadow: 2px 2px 5px #ebe1e1;
}

img.item-image {
    max-width: 100%;
    max-height: 100%;
    height: fit-content;
}

.cart-image {
    width: 80px;
    height: 80px;
    display: flex;
}

.cart-items {
    max-height: 400px;
    overflow: auto;
}

.cart-image img {
    max-width: 100%;
    max-height: 100%;
}

.btn-check {
    position: absolute;
    clip: rect(0, 0, 0, 0);
    pointer-events: none;
}

.btn-check:checked+.check-label {
    background-color: #334257;
    color: #fff;
}

.addon-wrap .addon-item .addon-input {
    min-height: 40px;
    border: 1px solid #d0dbe9;
    max-width: 100px;
}

.check-label {
    color: #334257;
    font-weight: 700;
    padding: 5px 10px;
    border-radius: 3px;
    line-height: 2;
    font-size: 15px;
    border: 1px solid #d0dbe9;
    margin-right: auto;
    margin-top: 7px;
    /* width: 90pt;
  height: 50pt; */
}

.h-100 {
    height: 100% !important;
}

.swiper-wrapper {
    display: inline-flex;
    flex-direction: row;
    overflow-y: auto;
    justify-content: center;
}
/* .media {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
} */
.card-body {
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
}

.image-box-100 {
    width: 80px;
    height: 80px;
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.image-box-100 img{
    max-width: 100%;
    max-height: 100%;
}
/* .layout-menu-collapsed.half_logo {
    display: block;
}

.layout-menu-collapsed.store_logo {
    display: none;
} */
.store_logo{
    height : 60px!important;
    width: 180px!important;
}

.product-image {
    max-width: 80px !important;
}
.image-box-100,
.image-box-100 a {
    width: 100px;
    height: 100px;
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.image-box-100 img {
    max-width: 100%;
    max-height: 100%;
}
.select2-container--open .select2-dropdown .search_modifiers {
  z-index: 9999;
  width: 0% !important;
}

/* solution 1  */

.modal-backdrop {
    z-index: -1!important;
}

.modal-backdrop {
    opacity: 0 !important;
}
.combo-product-image {
    width: 100%;
    height: 150px; /* Adjust the height as per your preference */
    object-fit: cover;
  }
